<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Login as Student
    <form action="/login/student" method="post">
        <input type="text" name="username">
        <input type="password" name="password">
        <a href="http://studentix.herokuapp.com/student">Log In</a>
    </form>

    Login as Teacher
    <form action="/login/teacher" method="post">
        <input type="text" name="username">
        <input type="password" name="password">
        <a href="http://studentix.herokuapp.com/teacher">Log In</a>
    </form>
</body>
</html>
